body {
    margin: 0;
    font-size: 17px;
    overflow-y: scroll;
}

main {
	margin:3rem ;
	color : white ; }

button, input, textarea, select {
    font-family: inherit;
}

header {
    text-align: center;
    font-size: 28px;
}

#title { color: #ffc107 !important ;}

#description { 
	background: -webkit-linear-gradient(315deg, #fff000 0%, #ed008c 74%);
	font-weight: bold ; 
	  -webkit-text-fill-color: transparent;
	  -webkit-background-clip: text;
	
}

input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
}

.input-group{ 
	display: inline-grid ;
}
.btn-info { 
	background-color: #076130; 
	width:50% ;
	justify-self : center ;
	margin-top: 1rem ;
	border: 0px ;
	
}
.btn-danger { 
	height:100% ;
}
button {
    border: none;
}

.survey-parent {
    width: 50%;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(315deg, rgba(45, 52, 54, 0.8) 0%, rgba(0, 0, 0, 0.8) 74%);
    padding: 25px;
    margin-bottom: 25px;
}

#eventTitle-label {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
    margin-top: 50px;
}

#eventTitle {
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;

}
#guests {
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;

}
#new-guest {
    display: inline-block;
    width: 50%;
    margin: 0 5%;
    padding: 10px 5px;
    border-radius: 5px;

}

#address-label {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
    margin-top: 25px;
}

#address {
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
}

#date-label {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
    margin-top: 25px;
}
    
#date {
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
}

.paragraph {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 12px;
}

input[type=radio] {
    display: inline-flex;
    margin-top: 10px;
}

#yes-no {
    width: 90%;
    margin: auto;
}

#dropdown {
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    margin-top: 10px;
}

.checkbox-div {
    width: 90%;
    margin: auto;
}

.checkbox-form p {
    margin-top: 15px;
    margin-bottom: 10px;
}

#suggestions {
    display: blocK;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    margin-top: 10px;
}

#submit {
    display: blocK;
    width: 50%;
    margin: auto;
    padding: 10px 5px;
    margin-top: 15px;
    background: #0275d8;
    color: white;
    border-radius: 5px;
}

@media screen and (max-width:650px) {
    header {
        font-size: 15px;
    }
    .survey-parent {
        padding: 15px;
        width: 75%;
    }
    #name, #email, #number, #suggestions, #submit {
        padding: 5px 2.5px;
    }
    body {
        font-size: 14px;
    }
    #name-label {
        margin-top: 12px;
    }
}